<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Snip any video to watch only the important parts">
    <meta name="author" content="Mukil Loganathan, Hari Danushkodi, Jigar Shah, Mike Liao, Rahul Bhatt">

    <title>Snip</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/c3.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center" id="mainLogoContainer">
            <h1 id="mainLogo">Snipped</h1>
            <h3></h3>
            <br>
            	<div class="form-inline">
		  <center>
				<div class="form-group">
		    	<input type="text" class="form-control" id="url-holder" placeholder="Enter Youtube URL">
		  	</div>
		  	<button class="btn btn-primary" id="Snipify">Snipify</button>
        <div id="text-info">
          <h2>Spending too much time watching lectures?</h2>
          <p class="lead">Try Snipping your video.</p>
        </div>
		 </center>
		</div>

        </div>
    </header>

    <!-- About -->

    <section id="about" class="about">
        <div class="container">
            <div class="row">
              <div id="entity-data" class="col-md-6">
                <!--
                <div class="list-group">
                  <a id='entity1' class='list-group-item'>
                    <h4 class='list-group-item-heading'></h4>
                    <p class='list-group-item-text'></p>
                  </a>
                </div>
              -->
              </div>
              <div id="special" class="col-md-6">
                <div id="chart">

                </div>
              </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <div id="test">

    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js" charset="utf-8"></script>
    <script src="js/c3.min.js"></script>
    <script src="js/fuzzyMatch.js"></script>
    <script src="js/index.js"></script>

</body>
<html>
